# --------------------------------
# APPLICATION
# --------------------------------

NODE_ENV=test

APP_NAME=arunika-coffee-api-users-service-test

APP_HOST=0.0.0.0

APP_PORT=3000


# --------------------------------
# DATABASE
# --------------------------------

DATABASE_HOST=<test-db-host>

DATABASE_PORT=3306

DATABASE_NAME=arunika_coffee_users

DATABASE_USER=<test-db-user>

DATABASE_PASSWORD=<test-db-password>

DATABASE_URL="mysql://<test-db-user>:<test-db-password>@<test-db-host>:3306/arunika_coffee_users"

DATABASE_POOL_CONNECTION_LIMIT=5

DATABASE_CONNECT_TIMEOUT_MS=5000

DATABASE_ACQUIRE_TIMEOUT_MS=10000

DATABASE_POOL_IDLE_TIMEOUT_SEC=60


# --------------------------------
# GRPC USERS
# --------------------------------

GRPC_USERS_HOST=0.0.0.0

GRPC_USERS_PORT=50051

USERS_GRPC_TIMEOUT_MS=3000


# --------------------------------
# SECURITY
# --------------------------------

SECURITY_CORS_ORIGINS=<allowed-test-origins>

SECURITY_RATE_LIMIT_TTL=60000

SECURITY_RATE_LIMIT_MAX=1000

SECURITY_BODY_LIMIT=1mb

SECURITY_GRPC_MAX_MESSAGE_BYTES=1048576

SECURITY_TRUST_PROXY=<trusted-proxy>


# --------------------------------
# LOGGING
# --------------------------------

LOG_ENABLED=false

LOG_LEVEL=warn


# --------------------------------
# OPENTELEMETRY
# --------------------------------

OTEL_SERVICE_NAME=arunika-coffee-api-users-service-test

OTEL_TRACING_ENABLED=false

OTEL_TRACES_SAMPLER_ARG=0

OTEL_METRICS_ENABLED=false

OTEL_METRIC_EXPORT_INTERVAL=60000
